html, body {
    height: 100%;
    margin: 0;
}

.flexGrid {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.flexRow, .flexItem {
    display: flex;
    border: 1px solid #000;
}

.flexRow {
    height: 100%;
}

.flexItem {
    width: 100%;
}