html, body {
    height: 100%;
}

.flexGrid, .flexRow, .flexItem {
    display: flex;
    border: 1px solid #000;
}

.flexGrid {
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.flexRow {
    height: 100%;
}

.flexItem {
    width: 100%;
}